* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.root {

    font-size: 62.05%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(144, 179, 152);
}

/* estilo main */

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

/*fim do estilo */

/* estilo header*/

.header-title {
    color: white;

    font-size: 2rem;
    font-weight: 900;
    text-shadow: 2px 1px 1px black;

    margin-top: 20px;
    margin-bottom: 15px;
}

/*fim do estilo */
 
/* estilo section*/

.section { 
    background-color: rgb(241, 241, 241);

    padding: 20px 100px 20px 100px;

    border: 1px solid white ;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
}
  
.form-input {
    width: 20rem;
    height: 2rem;
    transition: 1s;
}

.form-input:hover {
    background-color:rgba(0, 0, 0,.1);

}

/*fim do estilo */